h1 {
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0px 0px 24px 24px;
  padding-top: 24px;
  
}

h2{
  color: #006a4e;
}
#currency_title{
color:#006a4e
}
label{
color:#009597
}
.text-center{
text-align: center !important;
}

.table-responsive#historique{
width: 90%;
margin: auto;
}
.table-responsive#historique th{
text-align: center;
font-weight: bold;
font-size: 16px;
border: 1px solid #006a4e;
color:#009597
}
.table-responsive#historique td{

font-size: 16px;
border: 1px solid #006a4e
}


